RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "\.(php|phtml|phar)$">
    Require all denied
</FilesMatch>
<Files index.php>
    Require all granted
</Files>
