{% extends 'layout.twig' %}
{% block title %}Nenalezeno · {{ app.name }}{% endblock %}
{% block body %}
<article class="page">
    <h1>404</h1>
    <p>Stránka <code>{{ slug }}</code> nebyla nalezena.</p>
    <p><a href="/">Zpět na úvod</a></p>
</article>
{% endblock %}
